__pycache__/
*.pyc
.env
venv/
env/
.venv/
.idea/
.vscode/
scratch_refactor.py
fix_imports.py
configs/workspace.json
configs/*.json
!configs/difficulty_presets.json
!configs/servers.yaml
configs/*.yaml
.agents/
python/
.gemini/
.cache/
.idea/
build/
builddir/
compile_commands.json
out_debug/
out_debug_locate/
examples/Xanadu-topo-20250226.png
svrMaps/Affliction-classic-20260224.png
svrMaps/Cadence-classic-20260224.png
svrMaps/Cadence-terrain-20260224.png
svrMaps/Cadence-topo-20260224.png
svrMaps/Celebration-classic-20260224.png
svrMaps/Chaos-classic-20260224.png
svrMaps/Chaos-terrain-20260224.png
svrMaps/Chaos-topo-20260224.png
svrMaps/Defiance-classic-20260224.png
svrMaps/Defiance-terrain-20260224.png
svrMaps/Defiance-topo-20260224.png
svrMaps/Deliverance-classic-20260224.png
svrMaps/Desertion-classic-20260224.png
svrMaps/Elevation-classic-20260224.png
svrMaps/Exodus-classic-20260224.png
svrMaps/Harmony-classic-20260224.png
svrMaps/Harmony-terrain-20260224.png
svrMaps/Harmony-topo-20260224.png
svrMaps/Independence-classic-20260224.png
svrMaps/Independence-terrain-20260224.png
svrMaps/Independence-topo-20260224.png
svrMaps/Melody-classic-20260224.png
svrMaps/Pristine-classic-20260224.png
svrMaps/Release-classic-20260224.png
svrMaps/Serenity-classic-20260224.png
svrMaps/Xanadu-classic-20260224.png
svrMaps/Xanadu-terrain-20260224.png
svrMaps/Xanadu-topo-20260224.png
Xanadu-classic-20250226.png
Xanadu-terrain-20250226.png
assets/
assets/maps/
.idea/
svrMaps/
svrmaps/